# Ignore all files by default, but scan all directories
*
!*/


# Except
!UE5.sln
!/.gitignore

!ShaderMaterial.h

!Engine/Shaders/
!Engine/Source/Runtime/Engine/
!Engine/Shaders/**
!Engine/Source/Runtime/Engine/**



