# Ignore all files by default, but scan all directories
*
!*/


# Except
!UE5.sln 
!.gitignore
!Engine/Shaders/
!Engine/Source/Runtime/Engine/
!Engine/Shaders/**
!Engine/Source/Runtime/Engine/**



# Ignore other .gitignore
*/.gitignore